
.space {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wave {
    position: absolute;
   /* margin-top: -260px; */
   bottom: 0px;
   width: 100%;
}

.text-superior{
    margin-top: -60px;
}

/* Animación para aumentar tamaño del botón */

.button-anim{
    transition: all ease-out 0.2s;
}

.button-anim:hover{
    transform: scale(1.05);
}

.texto-2{
    background-color: #D7D8DA;
}

.moradito {
    color:rgb(88, 26, 146);
}

.wave-2 {
    background-color: #D7D8DA;
}

.cielo {
    background-color: #062a4e;
    color: white;
}

.wave-3{
    background-color: #062a4e;
}

.cursiva {
    font-style: italic;
}

.card-border {
    border: none;
}

.celeste {
    background-color: #a5dcf0;
}

.cohete-align{
    left: 0%;
}